.main-nav .container {
    display: flex;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;

}

.main-nav .version-number {
    font-weight: 400;
    margin-left: 1em;
    font-size: 0.7em;
    margin-top: 0.4em;
}